<div class="flex justify-center">
    <mat-card class="shadow w-4/12 h-8">
    <img mat-card-image 
    class="!h-72"
    [src]="product.image">
    <div class="p-4">
        <h1>{{product.name}}</h1>
        <h2>{{product.brand}}</h2>
        <p>The product description comes here: Lorem ipsum dolor amet mustache knausgaard +1, blue bottle waistcoat tbh semiotics artisan synth stumptown gastropub cornhole celiac swag. Brunch raclette vexillologist post-ironic glossier ennui XOXO mlkshk godard pour-over blog tumblr humblebrag. Blue bottle put a bird on it twee prism biodiesel brooklyn. Blue bottle ennui tbh succulents.</p>
        <div class="flex gap-2">
            <span>{{product.currentPrice}}</span>
            <span><s>{{product.standardPrice}}</s></span>
            <span>({{product.discount}}%) OFF</span>
        </div>
        <div class="flex justify-center">
            <button mat-raised-button color="pink" [routerLink]="'/edit-product/'+product.id">Edit</button>
        </div>
    </div>
</mat-card>
</div>
